@font-face {
    font-family: "Helvetica";
    src: url("https://ik.imagekit.io/sheryians/SiteStaticFiles/HelveticaNowDisplay-Thin_J0zaDW5kUV.ttf?updatedAt=1709189838905");
    font-weight: 100;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: white;
}

body {
    background-color: #0c0c0c;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: transparent;
    backdrop-filter: blur(5px);
    width: 100%;
}

.nav {
    position: fixed;
    display: flex;
    top: 0;
    z-index: 1000;
    left: 0;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo {
    height: 60px;
    cursor: pointer;
}

.nav-logo {
    display: flex;
    margin-left: 90px;
    margin-top: 20px;
    gap: 15px;
}

.nav-logo h4 {
    font-size: 25px;
    font-weight: 100;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    font-size: 1.6rem;
}

.nav-menu h4 {
    font-weight: 100;
    padding: 30px;
}

.nav-menu i {
    display: none;
}

.nav-menu button {
    height: 40px;
    width: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24CFA6;
    font-size: 19px;
    margin-top: 20px;
    color: #0c0c0c;
    padding: 10px;
    margin-right: 90px;
    font-family: Helvetica, sans-serif;
}

@media (max-width: 500px) {
    .nav-logo {
        margin-left: 20px;
        gap: 5px;
        margin-top: 18px;
    }

    .logo {
        height: 30px;
    }

    .nav-logo h4 {
        font-size: 14px;
        width: 101px;
    }    

    .nav-menu h4 {
        display: none;
    }

    .nav-logo button {
        background-color: black;
    }

    .nav-menu i {
        display: contents;
        margin-top: 20px;
    }

    .btn {
        display: none;
    }

    .icons {
        margin-top: 24px;
        margin-right: 22px;
    }
}

.text1 {
    height: 8vw;
    font-size: 3.4rem;
    margin-top: 10px;
    width: 602px;
}

.text1 h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.tags {
    margin-top: 5vw;
    display: flex;
    gap: 10px;
    width: 454px;
    flex-wrap: wrap;
}

.tags h4 {
    padding: 20px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1.4rem;
    background-color: #212121;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    gap: 50px;
}

.hero-img {
    background-color: bisque;
    height: 380px;
    cursor: pointer;
    border-radius: 15px;
}

.hero-img img {
    border-radius: 10px 10px 0 0 ;
    height: 380px;
    width: 675px;
}

.right-hero {
    cursor: pointer;
    border-radius: 10px;
    background-color: #1e1e1e;
    
}

.tags1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 20px;
    justify-content: space-around;
    gap: 10px;
    cursor: pointer;
    width: 600px;
    padding-bottom: 20px;
}

.tags1 h4 {    
    background-color: #151515;
    font-size: 1.4rem;    
    padding: 20px;
    width: 246px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

span {
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.price {
    display: flex;
    margin-top: 25px;
    gap: 10px;
}

.price h4 {
    font-size: 3.2rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.price p {
    margin-top: 8px;
    font-size: 2.5rem;
}

.price span {
    font-size: 1.5rem;
    color: #929292;
    text-decoration: line-through;
}

.price h2 {
    font-size: 1.4rem;
    margin-top: 20px;
}

.buy {
    background-color: #009560;
    padding: 20px;
    display: flex;
    height: 70px;
    border: none;
    border-radius: 10px;
    width: 270px;
    align-items: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: blur(0.5px);
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
}

.btnss {
    display: flex;
    gap: 15px;
}

.syllabus {
    background-color: #353535;
    padding: 20px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    display: flex;
    height: 70px;
    width: 270px;
    align-items: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: blur(0.5px);
    justify-content: center;
    font-size: 25px;
}

.card-text {
    font-size:20px;
    margin-top: 5px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.enroll-text {
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
}

.bloom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-left: 10vw;
    width: 80%;
    font-size: 5vw;
    color: transparent;
}   

.bloom h1.glow-text {
    position: absolute;
    filter: blur(80px);
}

.bloom h1 {
    background-image: url(https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/bloomMask%20Large_lvwFbM14_l.png);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.subheading {
    font-size: 3vw;
    margin-left: 26.5vw;
}

.subheading p {
    font-family: Helvetica;
    font-weight: 200;
}

.stats {
    display: flex;
    padding: 5vw;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 110px;
    height: 13vw;
    background-image: url(https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/bloomMask%20Large_lvwFbM14_l.png);
    border: 3px solid transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: 78vw;
    margin-left:5vw;
}

.card {
    background-color: #000000;
    border: 2px solid aqua;
    display: flex;
    background-image: url(https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/bloomMask%20Large_lvwFbM14_l.png);
    background-position: center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 17vw;
    width: 19vw;
    border-radius: 100px;
    border-color: none;
    border: linear-gradient(red, blue, aqua, black  );

}

.card h1 {
    font-size: 6vw;
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
}

.card p {
    font-size: 3vw;
    color: transparent;
    font-family: Haettenschweiler, 'Arial Narrow Bold';
}

.text4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text4 h1 {
    font-size: 8vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 120px;
}

.text4 p {
    font-family: Helvetica;
    font-size: 2vw;
}

.difference {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 150px;
}

.difference1 {
    display: flex;
    margin-top: 9vw;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
   
}

.difference1 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.left-difference {
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 30vw;
    border-radius: 10px 10px 0 0 ;
    height: 3.7vw;
    margin-top: 18px;

}

.left-difference h4 {
    padding-left: 26px;
    font-size: 1.6vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 25px;
}
    
.left-difference p {
    padding-left: 26px;
    font-size: 1.6vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 25px;
}

.details6 {
    background-color: #222222;
    margin-top: 1px;
    width: 30vw;
    border-radius: 0 0 10px 10px;
    flex-wrap: wrap;
}

.details6 summary {
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
}

.placement {
    border-top: 1px white;
    padding: 25px;
}

.placement h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 1vw;
    padding: 5px;
    width: 12vw;
    height: 1.5vw;
    background-color: #434343;
    opacity: 0.6;
}

hr {
    width: 27vw;
    margin-left: 1.1vw;
    opacity: 0.1;
}

.placement p {
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 350;
    padding-top: 10px;
}

.pera {
    margin-top: 20px;
}

.pera p {
    margin-top: 8px;
    font-size: 1.2vw;
}

.right-difference {
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    border-radius: 10px 10px 0 0 ;
    height: 3.7vw;
    margin-top: -375px;
}

.others {
    padding-left: 26px;
    font-size: 1.6vw;
    color: #E74C3c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 25px;
}

.right-difference p {
    padding-left: 26px;
    font-size: 1.6vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #E74C3C;
    padding: 25px;
}

.details7 {
    background-color: #222222;
    margin-top: 1px;
    width: 30vw;    
    flex-wrap: wrap;
    border-radius: 0 0 10px 10px;
}

.details7 summary {
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
}

.fame-text {
    margin-left: 13vw;
    margin-top: 210px;
    display: flex;
    flex-direction: column;
}

.fame-text h1 {
    font-size: 8vw;
    font-weight: 530;
    width: 50vw;
    color: #E6E6E6;
    font-family: Arial, Helvetica, sans-serif;
}

.fame-text p {
    margin-left: 0.9vwpx;
    font-size: 2vw;
    font-family: Helvetica;
}

.fame-wall {
    display: flex;
    gap: 10px;
    margin-top: 50px;
    padding: 0 2vw;
    padding-bottom: 50px;
}

.fame-wall img {
    height: 153px;
    border-radius: 10px;
    width: 153px;
    opacity: 0.4;
}

.fame-wall img:hover {
    opacity: 1;
    transition: ease-in-out 0.4s;
    transform: scale(1.1);
}

.fame-line {
    width: 100%;
    margin-left: 0;
}

.fame-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    padding-bottom: 40px;
}

.fame-btn2 {
    color: #ffffff;
    background-color: #009B63;
    font-size: 23px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 50px;
    font-family: Arial, Helvetica, sans-serif;
    filter: contrast(2);
}

.learning {
    display: flex;
    align-items: center;
    justify-content: center;
}

.learing {
    width: 75vw;
    display: flex;
    font-size: 1.2vw;
}

.learing h1 {
    margin-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.5;
    font-weight: 500;
}

.texth1 {
    margin-left: 14vw;
    margin-top: 170px;
}

.texth1 h1 {
    width: 70vw;
    font-size: 8vw;
    font-family: Arial, Helvetica, sans-serif;
}

.texth1 strong {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://thvnext.bing.com/th/id/OIP.sm49QQ0RYoVmT7aWyNzo3gHaEK?o=7&cb=12rm=3&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3);
    background-repeat: no-repeat;
    color: transparent;
    filter: drop-shadow(white) 1.1;
    background-clip: text;
    font: 700;
}

.texth1 p {
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-bottom: 50px;
}

details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 83vw;
    margin-left: 150px;
}

summary {
    display: flex;
    align-items: center;
    font-fami5y: Arial, Helvetica, sans-serif;
    padding: 25px;
    justify-content: space-between;
}

summary h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.answer {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
}

.answer h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6vw;
    margin: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.answer p {
    margin-left: 15px;
    margin-bottom: 6px;
    font-family: Helvetica;
    font-size: 1.2vw;
}



.detail-hr {
    margin-left: 176px;
    width: 80vw;
}

.serve-text {
    margin-left: 10.2vw;
    margin-top: 6vw;
    width: 60vw;
}

.serve-text h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vw;

}

.vector1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 55px;
}

.vector1-left {
    width: 32vw;
}

.vector1-left h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6vw;
}

.vector1-left p {
    font-family: Arial, Helvetica, sans-serif;
}

.vector1-right {
    height: 10vw;
    z-index: 100;
}

#box1 {
    background-image: url(https://plus.unsplash.com/premium_vector-1682310664746-f934119dffd6?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y29kZXxlbnwwfDB8MHx8fDA=);
    background-position: center;
    background-size: cover;
    height: 12vw;
    width: 25vw;
    border-radius: 10px;
}

.info-hr {
    margin-left: 10vw;
    width: 80%;
}

.vector2 {
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 55px;
}

.vector2-left {
    height: 10vw;
}

#box2 {
    background-image: url(https://plus.unsplash.com/premium_vector-1682306831269-3d16a30e3966?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWVudG9yc2hpcHxlbnwwfDB8MHx8fDA%3D);
    background-size: cover;
    height: 12vw;
    width: 25vw;
    border-radius: 10px;
}

.vector2-right {
    width: 32vw;
}

.vector2-right h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6vw;
}

.vector2-right p {
    font-family: Arial, Helvetica, sans-serif;
}

.vector3 {
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 55px;
}

#box3 {
    background-image: url(https://plus.unsplash.com/premium_vector-1717082060641-5d649cb834aa?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y29sbGFib3JhdGV8ZW58MHwwfDB8fHww);
    background-size: cover;
    height: 12vw;
    width: 25vw;
    border-radius: 10px;
}

.vector3-left {
    width: 32vw;
}

.vector3-left h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6vw;
}

.vector3-left p {
    font-family: Arial, Helvetica, sans-serif;
}

.vector4 {
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 55px;
}

.vector4-left {
    height: 10vw;
}

#box4 {
    background-image: url(https://plus.unsplash.com/premium_vector-1682308752501-1ebeac94d735?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8c3VjY2Vzc3xlbnwwfDB8MHx8fDA%3D);
    background-size: cover;
    height: 12vw;
    width: 25vw;
    border-radius: 10px;
}

.vector4-right {
    width: 32vw;
}

.vector4-right h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6vw;
}

.vector4-right p {
    font-family: Arial, Helvetica, sans-serif;
}

.career-info {
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.career-info h1 {
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
}

.career-info p {
    width: 44vw;
    margin-top: 5px;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.5;
}

.career-info button {
    color: white;
    width: 15vw;
    height: 2.6vw;
    border-radius: 10px;
    background-color: #009560;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

@media (max-width: 600px) (min-width: 100px) {
    
}